/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Russo+One&display=swap');

/* common font & utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 25px;
}

/* top players style  */
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.top-players{
    margin-bottom: 30px;
}
.players{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px; 
}

/*------------------
  top blogs styles
------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 20px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/*--------------- 
   course style 
---------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}
.course{
    box-shadow: 1px 1px 2px rgb(233, 225, 225);
    padding: 5px;
    border-radius: 15px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-weight: 500;
    font-size: 18px;
}
.course-author{
    color: #ED6B4F;
    font-size: 14.6913px;
}
.course-info{
    display: flex;
    justify-content: space-between;
}
.course-duration{
    border-radius:14.69px;
    background-color: #FEE5DF;
    color: #FF4A60;
    padding: 3px;
}
.fas.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
/* -----------------
    Media queries
------------------- */
/*------------
    Mobile
------------ */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player, .blog ,.course{
        flex-direction: column;
    } 
}
/*---------
    Ipad
---------- */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players {
        grid-template-columns: repeat(2,1fr);
    }
    .blogs, .courses{
        grid-template-columns: repeat(2,1fr);
    }
}